@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="TrainExecute">
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-info btn-sm" value="Train Execure">
        </div>
    </div>
</form>
